@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.About {
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
}

.About h1{
    color: black !important;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.About p{
    font-family: 'Poppins', sans-serif;
    color: black;
}