.formAlign {
    display: flex !important; 
    width: 100% !important;
    background-color: white;
    display: flex !important;
    justify-content: space-around !important;
}

.fontSize {
    font-size: 20px;
    margin-top: 10px !important;
}

.buttonSubmit1 {
     
    background-color: black !important;
    margin-top: 20px !important;
    margin-left: 385px !important;
    margin-bottom: 10px !important;
    width: 385px !important;
    justify-content:center !important;
    color:white !important;
    
}

.buttonSubmit1:hover{
    background-color:black;
    cursor: pointer !important;
    transform: scale(1.2)!important;}


 .buttonSubmit2 {
    display:flex;
    background-color: white !important;
    margin-top: 5px !important;
    margin-left:360px !important;
    margin-bottom: 10px !important;
    width: 450px !important;
    justify-content:center!important;
    color:black !important;
}

.buttonSubmit2:hover{
    background-color: white; 
    cursor: pointer;
    transform: scale(1.2);
}

 