@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.formAlign {
    width:100% !important;
    font-family: 'Poppins';
    
}

.fontSize {
    font-size: 20px;
    margin-top: 10px !important;
}

.buttonSubmit3{
    background-color: black !important;
    margin-top: 10px !important;
    margin-left:385px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    height: 50px !important;
    width: 385px !important;
    text-decoration: none !important;
    font-size: 15px !important;
     color: white !important ; 
}

.buttonSubmit3:hover{
    background-color: rgb(147, 147, 30);
    cursor: pointer;
    transform: scale(1.2);
}

.buttonSubmit4 {
    display: flex !important;
    background-color: white !important;
    margin-top: 5px !important;
    margin-left:385px !important;
    margin-bottom: 10px !important;
    width: 400px !important;
    text-decoration: none !important;
}

.buttonSubmit4:hover{
    
    background-color: white !important;
    cursor: pointer;
    transform: scale(1.2);
}

